.App {
  width: 700px;
  border: 2px solid dimgray;
  margin: 50px;
}
h2 {
  border-bottom: 2px solid dimgray;
  padding-bottom: 20px;
  text-align: center;
}
form {
  margin: 20px;
}
.main_input {
  width: 500px;
  padding: 10px;
}
.submit {
  padding: 10px;
  margin-left: 20px;
}

